.main-container {
    max-width: 1150px;
    margin: 0 auto;
}

.step-title p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-flex {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.form-grouped {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.input-label {
    font-size: 14px;
    color: var(--text-400);
    margin-bottom: 4px;
}

.input-field {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--gray-200);
    border: 1px solid var(--gray-600);
    font-size: 16px;
}

.paciente-card {
    background: var(--gray-100);
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 18px;
    border: 1px solid var(--gray-300);
}

.paciente-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.remove-btn {
    background: #e45d5d;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.add-btn {
    background: var(--main-color);
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}

.controller {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.cancel-btn {
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.main-btn {
    background: var(--main-color);
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.disabled-btn {
    background: #ccc;
    color: #666;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
}